.a-title {
    margin-top: 2.8rem;
    text-align: center;
    color: #3457D5;
}

.a-title>h1 {
    font-size: 4rem;
    font-weight: 600;
}

.a-title>h2 {
    margin-top: 1.5rem;
    text-align: center;
    color: #3457D5;
}

.info {
    width: 70%;
    margin: 1rem auto;
    font-size: 1.25rem;
    margin-bottom: 25px;
    padding: 20px 15px 10px 10px;
    text-align: left;
}

.info>ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-2>h2, .box-3>h2, .box-4>h2, .box-5>h2 {
    text-align: center;
    width: 70%;
    margin: 4rem auto 0 auto;
    font-size: 2.2rem;
    color: #3457D5;
}

.filled-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 0%;
    height: 2.5px;
    left: 28%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.box-2:hover .filled-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.filled-3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 0%;
    height: 2.5px;
    left: 43%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.box-3:hover .filled-3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.goals {
    display: grid;
    gap: 1rem;
}

.box-4 {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.box-4>h2 {
    text-align: center;
    width: 70%;
    margin: 1rem auto 0 auto;
    color: #3457D5;
}

.filled-4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 0%;
    height: 2.5px;
    left: 29%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.box-4:hover .filled-4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.box-5>h2 {
    text-align: center;
    margin-top: 5rem;
}

.filled-5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 0%;
    height: 2.5px;
    left: 41%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.box-5:hover .filled-5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.chairman-img {
    height: 20rem;
    margin: 3rem auto;
}

.chairman {
    display: grid;
    gap: 0.8rem;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.advisory-board {
    list-style: none;
    display: grid;
    gap: 1rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
    .a-title {
        margin-top: 6rem;
    }
    .box-2>h2, .box-3>h2, .box-4>h2 {
        width: 70%;
        margin: 2rem auto 0 auto;
        font-size: 1.8rem;
    }
    .box-2:hover .filled-2 {
        left: 8%;
        width: 84%;
    }
    .box-3:hover .filled-3 {
        left:  30%;
        width: 40%;
    }
    .box-4:hover .filled-4 {
        left: 20%;
        width: 60%;
    }
    .box-5:hover .filled-5 {
        left: 20%;
        width: 60%;
    }
}