@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@300&display=swap");
body {
    font-family: 'Manrope';
    overflow: auto;
    cursor: default;
}

.landing-page-content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.box {
    justify-content: center;
    align-items: center;
    

}

.glow {
    margin: auto;
    width: 80%;
    /* padding: 10px; */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .01);
    transform: skew(-8deg);
    /* transform: scale(0.9); */
    /* background-color: #546add; */
    /* background: linear-gradient(to left,
            #ff5770,
            #e4428d,
            #c42da8,
            #9e16c3,
            #6501de,
            #9e16c3,
            #c42da8,
            #e4428d,
            #ff5770);
            background-color: #537895; */
    /* background-image: linear-gradient(320deg, #4b0082 82.5%, #9370db 0%);
    background-size: 200% 200%; */
    animation: animateGlow 1.25s linear infinite;
    border: 2px solid #546add;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px #546add;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.heading {
    font-size: 70px;
    padding: 25px;
    padding-bottom: 0;
    margin-left: 2rem;
    color: #546add;
    /* color: #012169; */
    /* color: #09203f; */
}

.tagline {
    display: flex;
    justify-content: right;
    margin: 4rem;
    padding: 25px;
    padding-top: 0;
    font-size: 34px;
    /* color: rgb(221, 239, 239); */
}

.found-info {
    text-align: center;
    margin-top: 60px;
    font-size: 34px;
    color: #546add;
}

.filled {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 0%;
    height: 2.5px;
    left: 30%;
    background-color: #546add;
    transition: 0.30s ease-out;
}

.title:hover .filled {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #546add;
    transition: 0.30s ease-out;
}

.text-info {
    width: 80%;
    font-size: 1.3rem;
    font-family: 'Manrope'; /* Pre tag uses default font */
    margin: 20px auto -10px auto;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 2px solid #546add;
}

* {
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    /* .glow {
        width: 90%;
        background-image: linear-gradient(0deg, #4b0082 80.5%, #9370db 0%);
    } */
    .heading {
        width: 100%;
        margin: 0 auto;
        font-size: 3.2rem;
    }
    .tagline {
        margin-top: 80px;
        width: 100%;
        margin-left: auto;
        text-align: left;
        font-size: 1.4rem;
        word-wrap: break-word;
        overflow: auto;
    }
    .title:hover .filled {
        left: 5%;
        width: 90%;
    }
    .found-info {
        font-size: 1.4rem;
    }
    .text-info {
        font-size: 1.2rem;
    }
}