@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@300&display=swap");

body {
    font-family: 'Manrope';
    overflow: auto;
    cursor: default;
}

.landing-page-content {
    margin-top: 10rem;
    margin-bottom: 7rem;
}

.title {
    margin: 17rem 0 0rem 2rem;
}

.heading {
    text-align: left;
    color: #3457D5;
    font-size: 6.5rem;
    font-weight: 600;
}

.tagline {
    margin: 0 0 12rem 0;
    text-align: left;
    font-size: 2rem;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1,
.circle-2,
.circle-3 {
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    margin: 0 2.5rem;
    border: 2px solid #3457D5;
}


/* .circle-1:hover,
.circle-2:hover,
.circle-3:hover {
} */

/* .circle-1 {
    box-shadow: 0 0 0.9rem 0.35rem #1877F2;
}

.circle-2 {
    box-shadow: 0 0 0.9rem 0.35rem #1877F2;
} */

.bottom-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

/* .circle-3 {
    box-shadow: 0 0 0.9rem 0.35rem #1877F2;

} */

.circle-1>p,
.circle-2>p,
.circle-3>p {
    line-height: 24vw;
    /* Value should be equal to height of div to align vertically, works for single line of text only*/
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    color: #f5ebeb;
}

.found-info {
    text-align: center;
    font-size: 2rem;
    color: #3457D5;
}

.filled-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 0%;
    height: 2.5px;
    left: 32%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.box-1:hover .filled-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    background-color: #3457D5;
    transition: 0.30s ease-out;
}

.text-info {
    width: 70%;
    font-size: 1.2rem;
    font-family: 'Manrope';
    /* Pre tag uses default font */
    margin: 20px auto -10px auto;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    color: white !important;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1.5px solid #3457D5;
    box-shadow: 0px 0px 10px 2px #1877F2;
}

* {
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    .landing-page-content {
        margin: 0;
    }

    .title {
        margin-top: 11rem;
        margin-left: 0px;
    }

    .heading {
        width: 100%;
        margin-bottom: 0;
        font-size: 5rem;
        text-align: center;
    }

    .tagline {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 2rem;
        padding: 60px;
    }

    .circles {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5rem;
    }

    .circle-1,
    .circle-2,
    .circle-3 {
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        margin: 0 1rem;
    }

    .circle-1>p,
    .circle-2>p,
    .circle-3>p {
        line-height: 40vw;
        font-size: 1.35rem;
    }

    .box-1:hover .filled-1 {
        left: 10%;
        width: 80%;
    }

    .found-info {
        font-size: 1.4rem;
    }

    .text-info {
        width: 85%;
        font-size: 1.2rem;
    }
}