.site-footer
{
  background-color: transparent;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#969696;
  margin-top: 150px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a
{
  color:#969696;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration: none;
}
.footer-links
{
  padding-left: 0;
  list-style: none;
}
.footer-links li
{
  display: block;
  margin-bottom: 8px;
}
.footer-link
{
  color:#969696;
  text-decoration: none;
  transition: 0.3s;
}
.footer-links .footer-link:active,.footer-links .footer-link:focus,.footer-links .footer-link:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display: inline-block;
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom: 30px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom: 0;
  }
}
