.container {
    margin: 0px auto 20px auto;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.columns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    text-align: left;
}

.title {
    text-align: left;
    font-size: 1.2rem;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 1rem;
    list-style-type: none;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: 0.15s;
}

.link:hover {
    color: #FEBE10;
    /* text-decoration-line: underline;
    text-underline-offset: 5px; */
}

@media screen and (max-width: 600px) {
    .columns {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin-top: 30px;
    }
}