.post{
    width: 500px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #3366cc;
    padding: 10px;
}

.postImg{
    width: 90%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
    color: #3366cc;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.postDate{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #999;

}

.postDesc{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}