.navbar {
    background-color: #000;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;

    width: 100%;
    height: auto;
    backdrop-filter: blur(20px);
    z-index: 9;
  }

  .logo {
    position: fixed;
    top: 0px;
    z-index: 100;
    margin: 15px;
    margin-left: 60px;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
  }
  
  .nav {
    position: relative;
    left: -12rem;
    flex: 1;
    text-align: right;
  }
  
  .nav ul {
    flex: 1;
    text-align: right;
    
  }
  
  .nav ul li {
    display: inline-block;
    padding: 2.5px;
    margin-left: 30px;
  }

  .nav ul li a {
    color: #E6E6FA;
    font-size: 2rem;
    font-style: normal;
    text-decoration: none;
  }
  
  .nav ul li a:hover {
    color: #6A5ACD;
  }
