.navbar {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    backdrop-filter: blur(20px);
    z-index: 9;
  }

  .logo {
    position: fixed;
    top: 0px;
    z-index: 100;
    margin: 15px;
    /* margin-left: 60px; */
    width: 5rem;
    /* height: 60px; */
    cursor: pointer;
  }
  
  .nav {
    position: relative;
    left: -12rem;
    flex: 1;
    text-align: right;
  }
  
  .nav ul {
    flex: 1;
    text-align: right;
    
  }
  
  .nav ul li {
    display: inline-block;
    padding: 2.5px;
    margin-left: 30px;
  }

  .nav ul li a {
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    text-decoration: none;
  }
  
  .nav ul li a:hover {
    color: #FEBE10;
  }
